.extra__heading-1 {
    max-width: 570px;
    margin: 0 auto;
    padding: 75px 25px 50px;
    border: 17px solid rgba(var(--brand-primary-rgb), .1)
}

.extra__heading-1 .icon__btn {
    width: 58px;
    height: 58px;
    font-size: 16px
}

.extra__heading-1 .video-btn {
    position: relative;
    display: inline-block
}

.extra__heading-1 .video-btn p {
    margin-top: 10px;
    letter-spacing: .8px
}

@media (min-width:480px) {
    .extra__heading-1 .video-btn p {
        margin-top: 0;
        position: absolute;
        left: calc(100% + 6px);
        top: 50%;
        transform: translate(0, -50%);
        white-space: nowrap
    }
}

.extra__heading-1 h1,
.extra__heading-1 h2 {
    letter-spacing: -.06em
}

.extra__heading-2,
.extra__heading-3 {
    text-align: left;
    max-width: 735px;
    padding: 106px 58px 0;
    margin: 0 auto;
    border-right: 17px solid rgba(255, 255, 255, .1);
    border-bottom: 17px solid rgba(255, 255, 255, .1);
    position: relative;
    z-index: 1
}

.extra__heading-2 p {
    line-height: 34px
}

.extra__heading-2:after,
.extra__heading-2:before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, .1);
    z-index: -1
}

.extra__heading-2:after {
    bottom: 0;
    left: 0;
    width: 17px;
    height: calc(100% - 90px)
}

.extra__heading-2:before {
    top: 0;
    right: 0;
    height: 17px;
    width: calc(100% - 240px)
}

.extra__heading-2 .heading {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -65px)
}

@media (min-width:992px) {
    .extra__heading-2 .heading {
        transform: translate(-33px, -65px)
    }
}

.extra__heading-2 .heading h1,
.extra__heading-2 .heading h2,
.extra__heading-3 .heading h1,
.extra__heading-3 .heading h2 {
    line-height: 48px
}

.extra__heading-2 .after-heading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(13px, -105%);
    opacity: .1;
    font-size: 100px;
    text-transform: uppercase
}

@media (min-width:768px) {
    .extra__heading-2 .after-heading {
        display: block
    }
}

.extra__heading-2 .btn {
    min-width: 220px;
    font-size: 14px;
    border-radius: 7px;
    height: 55px;
    letter-spacing: 1.2px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -35px
}

.extra__heading-2 .btn,
.extra__heading-2 .btn .text,
.extra__heading-2 .btn.btn-inside-out-invert>.after,
.extra__heading-2 .btn.btn-inside-out-invert>.before {
    color: var(--brk-secondary-4)
}

.extra__heading-2 .btn.btn-inside-out-invert>.after,
.extra__heading-2 .btn.btn-inside-out-invert>.before,
.extra__heading-2 .btn.btn-inside-out-invert>.text {
    padding-right: 15px
}

.extra__heading-2 .btn .icon-left {
    position: absolute !important;
    top: 50%;
    transform: translateY(calc(-50% - 1px));
    right: 24px;
    font-size: 24px;
    color: var(--brk-secondary-4)
}

.extra__heading-3 {
    max-width: 530px;
    padding: 80px 36px 40px 47px;
    border-right: 13px solid rgba(170, 170, 170, .1);
    border-bottom: 13px solid rgba(170, 170, 170, .1)
}

.extra__heading-3 p {
    color: #9f9f9f
}

.extra__heading-3:after,
.extra__heading-3:before {
    content: '';
    position: absolute;
    background: rgba(170, 170, 170, .1);
    z-index: -1
}

.extra__heading-3:after {
    bottom: 0;
    left: 0;
    width: 13px;
    height: calc(100% - 100px)
}

.extra__heading-3:before {
    top: 0;
    right: 0;
    height: 13px;
    width: calc(100% - 280px)
}

.extra__heading-3 .heading {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -65px)
}

@media (min-width:768px) {
    .extra__heading-3 .heading {
        transform: translate(-33px, -65px)
    }
}

.extra__heading-3 .after-heading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(13px, -105%);
    opacity: .05;
    font-size: 100px;
    text-transform: uppercase
}

@media (min-width:768px) {
    .extra__heading-3 .after-heading {
        display: block
    }
}

.extra__heading-3 .btn {
    min-width: 220px;
    color: #661dd9;
    font-size: 14px;
    letter-spacing: .04em;
    border-radius: 7px;
    height: 55px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -35px
}

.extra__heading-3 .btn .text,
.extra__heading-3 .btn.btn-inside-out-invert>.after,
.extra__heading-3 .btn.btn-inside-out-invert>.before {
    color: #661dd9
}

.extra__heading-3 .btn .icon-left {
    position: absolute;
    top: 13px;
    right: 24px;
    font-size: 24px;
    color: #661dd9
}

/*# sourceMappingURL=maps/section-titles.css.map */
